@import url('https://fonts.googleapis.com/css2?family=Rubik:ital,wght@0,300..900;1,300..900&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-size: 62.5%;
}
:root{
    /* ##TEXT */
    --PALE-VIOLET: hsl(276, 100%, 81%);
    /* (sub-heading at the top of the app UI) */
    --MODERATE-VIOLET:  hsl(276, 55%, 52%);
    /* (chat on the left) */
    --DESATURATED-DARK-VIOLET: hsl(271, 15%, 43%);
    /* (chat on the right) */
    --VERY-DARK-DESATURATED-VIOLET: hsl(271, 36%, 24%);
    /* (main heading) */
    --GRAYISH-BLUE:  hsl(206, 6%, 79%);
    /* (placeholder text) */
    --DARK-GRAYSIH-VIOLET:  hsl(270, 7%, 64%);
    /* (paragraph) */

    /* ##GRADIENTS */
    --LIGHT-MAGENTA: hsl(293, 100%, 63%);
    --LIGHT-VIOLET: hsl(264, 100%, 61%);

    /* ##SECONDARY */
    --WHITE: hsl(0, 0%, 100%);
    --LIGHT-GRAYISH-VIOLET: hsl(270, 20%, 96%);
    /* (app background) */
    --VERY-DARK-DESATURATED-VIOLET: hsl(271, 36%, 24%);
    /* (submit button background) */
    --VERY-LIGHT-MAGENTA:  hsl(289, 100%, 72%);
    /* (radio button outline) */
}
body{
    font-family: "Rubik", serif;
    background-color: var(--LIGHT-GRAYISH-VIOLET);
}
main{
    padding: 2rem 0;
}
.chat{
    border: 1.5rem solid var(--WHITE);
    border-radius: 2.6rem 2.6rem 3.2rem 3.1rem;
    width: 90%;
    max-width: 38rem;
    box-shadow: 1rem 1rem 14rem var(--DARK-GRAYSIH-VIOLET);
    margin: auto;
    background-color: var(--LIGHT-GRAYISH-VIOLET);
}
.profile{
    height: 11rem;
    display: flex;
    align-items: flex-end;
    padding: 0 2.5rem 2rem 2.5rem;
    justify-content: space-between;
    position: relative;
    background-image: linear-gradient(to right, var(--LIGHT-VIOLET), var(--LIGHT-MAGENTA));
    gap: 2rem;
    border-radius: 2rem 2rem 0.8rem 0.8rem;
    margin-bottom: 1.4rem;
}
.gradient-2{
    display: none;
}
.stroke-one,
.stroke-two {
    width: 0.4rem;
    height: 1rem;
    background-color: white;
    overflow: hidden;
    border-radius: 0.2rem;
}
.stroke-one {
    transform: rotate(30deg) translateY(0.3rem);
}
.stroke-two {
    transform: rotate(-30deg) translateY(-0.3rem);
}
.angle-one {
    transform: rotate(45deg) translateY(0.4rem);
}
.angle-two {
    transform: rotate(-45deg) translateY(-0.4rem);
}
.l-one,
.l-two {
    height: 1.5rem;
}
.more{
    font-size: 0.5rem;
    width: max-content;
    color: var(--WHITE);
}
.return{
    height: 2.5rem;
    display: flex;
    width: max-content;
    flex-direction: column;
    gap: 0.2rem;
}
.return p{
    height: 0.4rem;
    width: 0.4rem;
    background-color: var(--WHITE);
    border-radius: 50%;
}
.profile::after{
    content: "";
    width: 18rem;
    height: 3rem;
    background-color: var(--WHITE);
    position: absolute;
    top: -1%;
    right: 50%;
    transform: translate(50%,0%);
    border-radius: 0rem 0rem 2rem 2rem;
}
.profile img{
    border-radius: 50%;
    width: 4.1rem;
    border: 0.2rem solid var(--WHITE);
}
.p-one {
    display: flex;
    align-items: center;
    gap: 1.5rem;
}
.nav {
    gap: 1.5rem;
    width: max-content;
    display: flex;
    align-items: center;
}
.status{
    width: max-content;
    justify-self: flex-start;
}
.status h3{
    font-size: 1.8rem;
    color: var(--WHITE);
}
.status p{
    font-size: 1.4rem;
    color: var(--PALE-VIOLET);
}
.messages{
    padding: 0 1rem 1.2rem 1rem;
}
.left{
    font-size: 1.3rem;
    color: var(--MODERATE-VIOLET);
    background-color: hsla(276, 100%, 81%, 0.200);
    max-width: 65%;
    text-align: left;
    height: 6rem;
    margin-bottom: 1.2rem;
    display: flex;
    align-items: center;
    padding: 0 1rem;
    border-radius: 2.4rem 2rem 2rem 1rem;
}
.maxima{
    font-size: 1.3rem;
    color: var(--MODERATE-VIOLET);
    background-color: hsla(276, 100%, 81%, 0.200);
    display: flex;
    align-items: center;
    padding: 0 1rem;
    border-radius: 2rem;
    height: 7rem;
    width: 24rem;
}
.box{
    width: 17.8rem;
    height: 5rem;
    gap: 1.2rem;
    display: flex;
    margin-bottom: 1.2rem;
    float: right;
}
.box img{
    height: 5rem;
    width: 5rem;
    border-radius: 1rem;
}
.right{
    color: black;
    background-color: var(--WHITE);
    height: 5rem;
    width: 18rem;
    font-size: 1.3rem;
    border-radius: 2rem 2.4rem 1rem 2rem;
    margin-bottom: 1.2rem;
    display: flex;
    align-items: center;
    padding: 0 0 0 2rem;
    max-width: 60%;
    float: right;
}
form{
    margin-top: 1.2rem;
}
.price{
    display: flex;
    align-items: center;
    gap: 1rem;
    background-image: linear-gradient(to left, var(--LIGHT-VIOLET), var(--LIGHT-MAGENTA));
    font-size: 2rem;
    height: 6rem;
    width: 24rem;
    margin-bottom: 1.2rem;
    padding-left: 1rem;
    border-radius: 2.4rem 2rem 2rem 1rem;
    position: relative;
    color: var(--WHITE);
}
input[type="radio"]{
    appearance: none;
    height: 2.4rem;
    width: 2.4rem;
    border-radius: 50%;
    border: 0.2rem solid var(--VERY-LIGHT-MAGENTA);
}
span{
    font-weight: bold;
    font-size: 2.3rem;
    position: absolute;
    right: 10%;
    top: 30%;
}
.submit{
    display: flex;
    align-items: center;
    background-color: var(--WHITE);
    color: var(--GRAYISH-BLUE);
    height: 5rem;
    padding: 1rem;
    border-radius: 3rem;
    position: relative;
    margin: 1.4rem 0 0.4rem 0;
}
.submit input{
    height: 4rem;
    border: none;
    font-size: 1.4rem;
}
.submit input:focus {
    border: none;
    outline: none;
}
.center {
    width: fit-content;
    transform: scaleX(-1);
    margin-left: -0.4rem;
}
.send{
    height: 4rem;
    width: 4rem;
    border-radius: 50%;
    background-color: var(--VERY-DARK-DESATURATED-VIOLET);
    color: var(--WHITE);
    font-weight: bolder;
    font-size: 2rem;
    position: absolute;
    display: grid;
    place-content: center;
    top: 10%;
    right: 2%;
}
.about{
    margin: 5.5rem auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}
h1{
    font-size: 4.5rem;
    font-weight: 500;
    margin-bottom: 2rem;
}
.about p{
    color: var(--DARK-GRAYSIH-VIOLET);
    font-size: 1.8rem;
    width: 34rem;
    line-height: 1.5em;
}
body{
    position: relative;
}
article{
    margin: 4rem 0 0 0;
}
.gradient{
    position: absolute;
    top: 0%;
    left: -70%;
    height: 60rem;
    background-image: linear-gradient( 45deg, var(--LIGHT-VIOLET), var(--LIGHT-MAGENTA));
    width: 50rem;
    border-radius: 0 0 50% 50%;
    z-index: -2;
}
@media (min-width:600px) {
    .gradient{
        position: absolute;
        top: 0%;
        left: -20%;
    }
    .gradient-2{
        display: none;
    }
}
@media (min-width: 1440px) {
    body {
        overflow: hidden;
    }
    article{
        display: flex;
        align-items: center;
        gap: 20rem;
        justify-content: center;
    }
    .chat{
        margin: 5rem 0;
    }
    .about{
        text-align: left;
        margin: 0;
        align-items: flex-start;
    }
    .about p{
        width: 50rem;
    }
    .gradient{
        height: 90%;
        width: 80rem;
        left: 10%;
        transform: translateX(-60%) translateY(-10rem);
        background-image: linear-gradient(to top, var(--LIGHT-VIOLET), var(--LIGHT-VIOLET), var(--LIGHT-VIOLET), var(--LIGHT-MAGENTA));
    }
    .gradient-2{
        display: block;
        height: 90%;
        width: 80rem;
        border-radius: 50% 50% 0 0;
        z-index: -2;
        background-color:  hsla(276, 100%, 81%, 0.200);
        left: 50%;
        bottom: 0%;
        position: absolute;
        transform: translateX(60%) translateY(10rem);
    }
}